body {
	background: #780000;
	font-size: 62.5%;
	font-family: 'Varela Round', Helvetica, Arial, serif;
}

.hero {
    background: #780000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* logo */

.app-logo {
    width: 30%;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}