body {
	background: #780000;
	font-family: 'Varela Round', Helvetica, Arial, serif;
}

.hero-logo {
    background: #780000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* logo */

.app-logo {
    width: 30%;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar-item img {
    max-height: 5rem;
}