{% extends 'news/layout.html' %}
{% load humanize %}


{% block content %}
<br><br><br>

<!-- carousel -->
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            {% if last_5_news %}
            {% for new in last_5_news %}
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.count }}"></li>
            {% endfor %}
            {% endif %}
        </ol>
        <div class="carousel-inner">
            {% if last_5_news  %}
                {% for new in last_5_news %}
                <div class="carousel-item active">
                    <img src="{{ new.get_first_image.image.url }}" class="d-block w-100" alt="{{ new.title }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ new.title }}</h5>
                        <p>{{ new.subtitle }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="carousel-item active">
                    <img src="static/landscapes/capadocia.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
<!-- end carousel -->

<!-- /.sections -->
<section class="section has-background-light">
    <div class="container">
        <div class="title">Yucatán</div>
        <div class="columns">
            {% if local_5_news %}
            {% for new in local_5_news %}
                {% include 'news/new_section_card.html' %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<section class="section has-background-light">
    <div class="container">
        <div class="title">Nacional</div>
        <div class="columns">
            {% if national_5_news %}
            {% for new in national_5_news %}
                {% include 'news/new_section_card.html' %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<section class="section has-background-light">
    <div class="container">
        <div class="title">Internacional</div>
        <div class="columns">
            {% if international_5_news %}
            {% for new in international_5_news %}
                {% include 'news/new_section_card.html' %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<section class="section has-background-light">
    <div class="container">
        <div class="title">Entretenimiento</div>
        <div class="columns">
            {% if entertainment_5_news %}
            {% for new in entertainment_5_news %}
                {% include 'news/new_section_card.html' %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<!-- /.sections -->

{% if last_video %}
<!-- /.sections -->
<section class="section has-background-light">
    <div class="container">
        <div class="title">Línea consigna</div>
        <div class="columns">
            <div class="column">
                <figure class="image is-16by9">
                    <iframe class="has-ratio" width="640" height="360"
                              src="https://www.youtube.com/embed/{{ last_video }}?showinfo=0"
                              frameborder="0" allowfullscreen></iframe>
                </figure>
            </div>
        </div>
        {% if four_videos %}
        <div class="columns">
            {% for video in four_videos %}
            <div class="column">
                <figure class="image is-16by9">
                    <iframe class="has-ratio" width="640" height="360"
                              src="https://www.youtube.com/embed/{{ video }}?showinfo=0"
                              frameborder="0" allowfullscreen></iframe>
                </figure>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endif %}
<!-- /.sections -->

<!-- /.news -->
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% if last_10_news %}
            {% for new in last_10_news %}
            {% include "news/news_card.html" %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}