{% load tz %}


<div class="column is-one-quarter">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
            <img src="{{ new.get_url }}" alt="{{ new.title }}">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
            <div class="media-content">
                <p class="title is-4">{{ new.title }}</p>
                <p class="subtitle is-6">{{ new.subtitle }}</p>
            </div><!-- media-content -->
            </div><!-- media -->

            <div class="content">
            <a href="#">#merida</a> <a href="#">#yucatan</a>
            <br>
            <time datetime="2016-1-1">
            {% localtime on %}
            {{ new.created_at }}
            {% endlocaltime %}
            </time><br>
            <a href="{% url 'news_detail' new.id %}" class="button is-warning">Leer</a>
            </div><!-- content -->
        </div><!-- card-content -->
    </div><!-- card -->
</div><!-- column -->