{% load static %}
<div class="column">
    <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/static/sections/{{ section.img }}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ section.title }}</p>
              <p class="subtitle is-6">{{ section.subtitle }}</p>
            </div><!-- media-content -->
          </div><!-- media -->

          <div class="content">
              <a href="{{ section.url }}" class="button is-{{ section.color }}">Noticias</a>
          </div><!-- content -->
        </div><!-- card-content -->
      </div><!-- card -->
</div>