<footer class="footer">
    <div class="content has-text-centered">
      <p>
        Consigna Yucatán {% now "Y" %}<br>
          Síguenos
          <a href="https://www.facebook.com/ConsignaYuc"
             target="_blank">
              <span class="icon has-text-info">
                  <i class="fab fa-facebook"></i>
              </span>
          </a>
          <a href="https://www.youtube.com/channel/UCsI1p5hYSEiNYEsgTV9r6nA"
             target="_blank">
              <span class="icon has-text-danger">
                  <i class="fab fa-youtube"></i>
              </span>
          </a><br>
          consignayucatan@gmail.com
          <span class="icon has-text-warning">
              <i class="fas fa-envelope-square"></i>
          </span>
      </p>
    </div>
</footer>
