<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="static/consigna-2.png" alt="" width="50">
        <small class="d-block mb-3 text-muted">&copy; 2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>Contacto</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">
            <i class="fas fa-envelope"></i> consignayucatan@gmail.com
          </a></li>
          <li><a class="link-secondary" href="#">
            <i class="fab fa-facebook"></i> Consigna Yucatán
          </a></li>
          <li><a class="link-secondary" href="#">
            <i class="fab fa-youtube"></i>  Consigna Yucatán
          </a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Secciones</h5>
        <ul class="list-unstyled text-small ">
          <li><a class="link-secondary text-danger" href="#">Yucatán</a></li>
          <li><a class="link-secondary text-danger" href="#">México</a></li>
          <li><a class="link-secondary text-danger" href="#">Mundo</a></li>
          <li><a class="link-secondary text-danger" href="#">Entretenimiento</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Nosotros</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-warning" href="#">Equipo</a></li>
          <li><a class="link-secondary text-warning" href="#">Localidad</a></li>
          <li><a class="link-secondary text-warning" href="#">Privacidad</a></li>
          <li><a class="link-secondary text-warning" href="#">Términos</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>