{% load static %}
<!-- Navbar -->
<div class="container-fluid">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="{% static 'consigna-2.png' %}" alt="Logo de Consigna" width="300">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Yucatán</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">México</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Internacional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Entretenimiento</a>
        </li>
      </ul>
    </div>

  <!--<form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-warning" type="submit">Buscar</button>
  </form>-->
  </nav>
</div>
